{{#if title}}
  <h3 class="heading-small">{{title}}</h3>
{{/if}}

{{#if subTitle}}
  <h5 class="subtitle">{{subTitle}}</h5>
{{/if}}

<br>

<ul>
  {{#each keys}}
    <li>
      {{#if id}}
        <a class="legend-item round {{icon}}" href="risk-types#{{id}}" data-id="{{id}}">
          <div>{{text}}</div>
        </a>
      {{else}}
        <div class="legend-item round {{icon}}">
          <div>{{text}}</div>
        </div>
      {{/if}}
    </li>
  {{/each}}
  <li>
    <div class="legend-item crosshair local-show">
      <div>Location you selected</div>
    </div>
  </li>
</ul>
