<h3 class="heading-large">Water level and flow estimates for the monitoring station at {{stationName}}</h3>
<p>The Environment Agency uses 3 risk scenarios to estimate the water level and flow of water that could occur at this location in any given year.</p>

<h4 class="heading-medium">
  Water level estimates at this monitoring station
</h4>

<h5 class="heading-small">
  High chance scenario
</h5>
<p>There's a high chance (over 3.3%) that water depth will reach {{depth30}}m</p>

<h5 class="heading-small">
  Medium chance scenario
</h5>
<p>There's a medium chance (over 1%) that water depth will reach {{depth100}}m</p>

<h5 class="heading-small">
  Low chance scenario
</h5>
<p>There's a low chance (under 1%) that water depth will reach {{depth1000}}m</p>

{{#if isRiverLevelStation}}
  <h4 class="heading-medium">
    Flow estimates at this monitoring station
  </h4>

  <h5 class="heading-small">
    High chance scenario
  </h5>
  <p>There's a high chance (over 3.3%) that the flow will reach {{flow30}} cubic metres per second.</p>

  <h5 class="heading-small">
    Medium chance scenario
  </h5>
  <p>There's a medium chance (over 1%) that the flow will reach {{flow100}} cubic metres per second.</p>

  <h5 class="heading-small">
    Low chance scenario
  </h5>
  <p>There's a low chance (under 1%) that the flow will reach {{flow1000}} cubic metres per second.</p>
{{/if}}

<a href="#" class="map-overlay-close-link">Back to map</a>
